<%- include('partial/header.ejs'); %>

    <div class="manageUser-container">
      <div id="title">
        <h2>Manage Users</h2>
      </div>

      <div class="new-message-container new-user">
        <a onclick="openModal()">+</a>
      </div>

      <div id="users-table">
        <table>
          <thead>
            <tr>
              <th>Name</th>
              <th>Email</th>
              <th>Manage</th>
            </tr>
          </thead>
          <tbody id="users-table">
           <% users.forEach(function(user){%>
            <tr id="<%= user._id %>">
              <td class="name">
                <% if(user.avatar){%>
                  <img src="./uploads/avatar/<%= user.avatar %>" />

                <%}else{%>
                  <img src="./images/nophoto.png" />
                <% } %>
                <span><%= user.name %></span>
              </td>
              <td><%=user.email %></td>
              <td class="manage" onclick='deleteUser("<%= user._id %>")'>
                <img src="./images/trash.png" alt="Delete" />
              </td>
            </tr>

           <%}); %>
          </tbody>
        </table>
      </div>
    </div>

   <%-include('partial/add-user-model'); %>
   <script>
    const deleteToast=Toastify({
      text:'user deleted successfully',
      duration:3000
    })
    const deleteErrorToast=Toastify({
      text:'could not delete user ',
      duration:3000
    })
    async  function deleteUser(id){
      try{
       const response= await fetch(`http://localhost:5000/users/${id}`,{
           method:'DELETE'
         });
         const result = await response.json();
         if(result.errors){
            deleteErrorToast.showToast();
         }else{
          //success
          deleteToast.showToast();
          //delete the correspondence
          const elementToDelete =document.getElementById(id);
          elementToDelete.remove();
          //reload the page after 3 min
          setTimeout(()=>{
             location.reload()
          },1000)
         }
      }catch(err){
        console.log(err)
      }
     }
   </script>
  </body>
</html>
